body {
  margin: 0;
  font-family: sans-serif;
}

.backButton {
  text-align: left;
}
h3 {
  margin-top: -1rem;
}
.videoContainer {
  top: 0%;
  left: 10px;
  text-align: center;
}

.videoContainer a {
  font-size: 1.4rem;
}

.content {
  will-change: transform, opacity;
}

.modal {
  max-height: 560px;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  display: block;
  text-align: center;
}

.inner {
  display: block;
  background-color: #fff;
  color: #000;
  height: 50%;
  width: 60%;
  min-width: 500px;
  padding: 0px;
  margin-left: 16%;
  margin-top: 10%;
  border-radius: 15px;
}

.finalInner {
  display: block;
  background-color: #fff;
  color: #000;
  height: 40%;
  width: 60%;
  padding: 30px;
  margin-left: 10%;
  margin-top: 12%;
  border-radius: 15px;
}

div.description {
  min-width: 600px;
  margin: -50px;
}
.qHeader {
  font-size: 24px;
  margin-top: 1rem;
}

.qSubHeader {
  font-size: 22px;
  margin-top: 1rem;
}

.engagement {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.engagementRadio {
  margin-right: 1rem;
  margin-top: 1rem;
}

.tfanswer {
  font-size: 20px;
  margin-top: 0.5rem;
}

div.radio {
  font-size: 30px;
  margin-top: 0.5rem;
}

form {
  text-align: left;
  margin-left: 33%;
}
.ui.page.modals.dimmer.transition.visible.active {
  display: flex !important;
  height: 100%;
  width: 100%;
  background-color: green;
  position: absolute;
}

.btnGroup {
  margin-top: 1.5rem;
}
button.ui.button {
  margin-bottom: 60px;
}

.surveyLink {
  color: black;
  width: 60%;
}
