body {
  margin: 0;
  font-family: sans-serif;
}

h2 {
}
.container {
  /*position: absolute;
  top: 0%;
  left: 10px;*/
  text-align: center;
}

.container h2 {
  font-size: 4rem;
  margin-top: 3rem;
}

.container a {
  font-size: 1.4rem;
}
