body {
  margin: 0;
  font-family: sans-serif;
}

.backButton {
  text-align: left;
}
h3 {
  margin-top: -1rem;
}
.videoContainer {
  position: absolute;
  top: 0%;
  left: 10px;
  text-align: center;
}

.videoContainer a {
  font-size: 1.4rem;
}

.content {
  will-change: transform, opacity;
}

.video {
}

.modal {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  display: block;
  text-align: center;
}
.inner {
  display: block;
  background-color: #fff;
  color: #000;
  height: 40%;
  width: 40%;
  padding: 30px;
  margin-left: 25%;
  margin-top: 12%;
  border-radius: 15px;
}

form {
  text-align: left;
  margin-left: 33%;
}
.ui.page.modals.dimmer.transition.visible.active {
  display: flex !important;
  height: 100%;
  width: 100%;
  background-color: green;
  position: absolute;
}

.btnGroup {
  margin-top: 1.5rem;
}
button.ui.button {
  margin-bottom: 60px;
}
