body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

.container {
  top: 0%;
  left: 10px;
  */text-align: center;
}

.container h2 {
  font-size: 4rem;
  margin-top: 3rem;
}

.container a {
  font-size: 1.4rem;
}

.leftSubContainer {
  display: block;
  float: left;
  border: 1px solid grey;
  max-width: 45%;
  margin-left: 5%;
}

.rightSubContainer {
  display: block;
  float: right;
  border: 1px solid grey;
  max-width: 45%;
  margin-right: 5%;
}

.leftElectrodeContainer {
  float: left;
  margin-left: 15%;
}

.rightElectrodeContainer {
  float: right;
  margin-right: 15%;
}

.selectionContainer {
  text-align: center;
  margin: 1rem;
}

.selectionText {
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: left;
}
