body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

.container {
  top: 0%;
  left: 10px;
  */text-align: center;
}

.container h2 {
  font-size: 4rem;
  margin-top: 3rem;
}

.container a {
  font-size: 1.4rem;
}

.selectionContainer {
  text-align: center;
  margin: 1rem;
}

.selectionText {
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: left;
}
